:root {
    /* Widths */
    --mobile: 375px;
    --desktop: 1440px;

    /* Colors */
    --rosa: hsl(0, 36%, 70%);
    --rojo-claro: hsl(0, 93%, 68%);
    --gris-oscuro: hsl(0, 6%, 24%);
    --background: rgb(248,191,191);
    --linear-gradient: linear-gradient(90deg, rgba(248,191,191,1) 0%, rgba(238,140,140,1) 50%);


    /* Typography */
    --font-family: 'Josefin Sans', sans-serif;
    --font-size: 1.6rem;

}


*, 
::after,
::before {
   box-sizing: border-box;
   margin: 0;
   padding: 0;     
}

html {
    box-sizing: inherit;
    font-size: 62.5%;
}

body {
    font-family: var(--font-family);
    font-size: var(--font-size);
}